
@media (prefers-color-scheme: light) {
  :root {
    --bg-image-url: url(./../images/cover-image-light.png);
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --menu-button-color: #353430;
    --decorated-corners-color: #353430;
    --text-color: #353430;
    --small-header-color: #353430;
    --medium-header-color: #353430;
  }

  .header__rec-decoration {
    display: none;
  }  
}

:root.theme-light {
  --bg-image-url: url(./../images/cover-image-light.png);
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --menu-button-color: #353430;
  --decorated-corners-color: #353430;
  --text-color: #353430;
  --small-header-color: #353430;
  --medium-header-color: #353430;
}

.theme-light .header__rec-decoration {
  display: none;
}
