:root {
  --main-font: 'IBM Plex mono';
  /*--menu-toggle-size: 40px;
  --section-padding: 20px 10px;*/
  --main-font-size: 18px;
  --header-color: #db00ff;
  --accent-color: #ff0070;  
  --text-color: #f1b2ce;

  --header-menu-button-hover-color: rgba(255, 0, 112, 0.4);
  /*--menu-background-color: #80d994;
  --menu-link-hover-background-color: #fff;
  --hero-bg-image-url: url(../../../images/hero-bg.jpg);
  --hero-text-color: #fff;
  --subscribe-form-background-color: #feafe8;
  --subscribe-form-color: #000;
  --subscribe-form-button-bg-color: #80d994;
  --text-container-bg-color: #fff;
  --text-container-text-color: #000;
  --icons-list-link-hover-background-color: #80d994;
  --internal-padding: 40px 20px;*/
}